.header-element {
  cursor: pointer;
  border-right: 1px solid #1e2d3d;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: all 0.3s ease-in-out;
  &:first-child {
    border-left: 1px solid #1e2d3d;
  }

  &:hover {
    border-bottom: 3px solid #fea55f;
  }
}

.header-element.header-element-active {
  border-bottom: 3px solid #fea55f;
}
